# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env

# Prisma
prisma/migrations/

# OS files
.DS_Store
Thumbs.db

# Optional: Build output
dist/
build/
